*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Game-of-Thrones';
}

body {
  background-color: rgb(54, 54, 54);
}
@font-face {font-family: 'Game-of-Thrones'; src: url('../fonts/Game-of-Thrones.ttf') format('truetype')}