
.card {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin: 10px;
    width: 240px;
    height: 440px;
    cursor: pointer;
    background-color: rgb(196, 195, 195);

    &__img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 240px;
        height: 300px;
    }
    &__title {
        height: 40px;
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }

    &__rename{
        font-size: 12px;
        text-align: center;
        height: 26px;
        color: rgb(110, 105, 105);
    }
}

.card__house{
    display: flex;
    font-size: 10px;
    justify-content: center;
    margin: 20px;

    &__house{
        padding-right: 5px;
    }
}


.Stark {
    background-color: ivory;
}

.Targaryen{
    background-color: rgb(5, 5, 34);
    color: rgb(185, 5, 5);
}

.Tyrell {
    background-color: rgb(75, 155, 75);
    color: yellow;
}

.Lannister {
    background-color: rgb(156, 4, 4);
    color: rgb(224, 224, 114);
}

.Greyjoy{
    background-color: black;
    color: rgb(224, 224, 114);
}

.Baratheon{
    background-color: rgb(233, 233, 64);
}

.Bolton {
    background-color: black;
    color: red;
}

.Mormont {
    background-color: green;
    color: black;
}
